# Ignore Docker artifacts
*.log
*.pid
*.sock
*.tar
*.gz

# Node or Python dependencies (if applicable)
node_modules/
.venv/*
.env
*.env

# Docker Compose override/local configs
docker-compose.override.yml

# Build artifacts
__pycache__/
dist/
build/
*.pyc
*.pyo
*.pyd

# Editor/IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Static site generators (if used)
.cache/
public/
out/

config.py