body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Heue", Helvetica, Arial, sans-serif;
  color: #444;
<<<<<<< HEAD
  text-indent: 10px;
=======
>>>>>>> f3f646056cd2163ceeacee448be7f9d69cb33838
  }
/*
 * Formatting the header area
 */
header {
<<<<<<< HEAD
  background-color: #3342FF;
=======
  background-color: #DFB887;
>>>>>>> f3f646056cd2163ceeacee448be7f9d69cb33838
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
<<<<<<< HEAD
  text-indent: 10px;
=======
>>>>>>> f3f646056cd2163ceeacee448be7f9d69cb33838
  }
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
  }
header h1.loge:hover {
  color: #fff;
  text-decoration: none;
  }
/*
 * Centering the body content
 */
.containter {
  width: 1200px;
  margin: 0 auto;
  }
div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  }
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA
  -webkit-border-radius; 6px
  -moz-border-radius: 6px;
  border-radius: 6px;
  }
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  }
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
  }
.menu {
  float: right;
  margin-top: 8px;
  }
.menu li {
  display: inline;
  }
.menu li + li {
<<<<<<< HEAD
  margin-left: 10px;
  margin-right: 10px;
  }
.menu li a {
  color: #FFFFFF;
=======
  margin-left: 35px;
  }
.menu li a {
  color: #444;
>>>>>>> f3f646056cd2163ceeacee448be7f9d69cb33838
  text-decoration: none;
  }
html {
  visibility: visible;
  opacity: 1;
  }
