<!doctype html>

<style>

a {
  color: #1bfa02;
}

.heading1 {
 text-align: center;
 text-indent: 0em;
 margin: 10px auto 10px auto;
 position: relative;
 font-size: 50px;
 color: white
}

.heading2 {
 margin: 30px 10% 10px 10%;
 text-indent: 0em;
 position: relative;
 font-size: 30px;
 color: white
}

.heading3 {
 margin: 30px 10% 10px 11%;
 text-indent: 0em;
 position: relative;
 font-size: 22px;
 color: white
}

.paragraph {
  margin: 10px 10% 10px 10%;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  text-indent: 0em;
}

.paragraph2 {
  margin: 10px 10% 10px 11%;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  text-indent: 0em;
}

.paragraph3 {
  margin: 40px 10% 10px 10%;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  text-indent: 0em;
}

.diagram {
  text-align: center;
  margin: 10px auto 10px auto;
  display: block;
  position: relative;
  width: 80%;
  height: auto;
}

</style>

<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Cisco Project</title>
 </head>
 
<body>
 {% extends "template.html" %}
 {% block content %}
 <h1 class="heading1">My Cisco Project</h1>
 <p class="paragraph">This is the main page for my project for the Senior
  Engineer, Cloud Infrastructure position with Cisco. For my project I have
  created this portfolio website. The site was built using the Python Flask
  web framework, it is running in Oracle’s Cloud Infrastructure (OCI) and was
  designed to be both highly available and secure.
 </p>
 <p class="paragraph">In addition to the site itself, I also created a simple
  subnet calculator application. Written from scratch in Python, the subnet
  calculator uses the ANDing method to calculate subnet data from a single IP
  and subnet mask. Be sure the check it out
  <a href="{{ url_for('subnetter') }}">here</a> if you haven't already.
 </p>
 <p class="paragraph">The goal of this page is to show you exactly what I have
  built. Here you will find a network architecture diagram as well as a
  description of each component of the network. As for the coding elements of
  the project, I will discuss them briefly here, but you can also check out
  the site repository <a href=https://github.com/srstark01/portfolio>here</a>.
  Thank you, Cisco, for this opportunity, I hope you enjoy reviewing this
  project as much as I did building it.
 </p>
 <h2 class="heading2">Network Architecture Diagram</h2>
 <img class="diagram" alt="diagram" src="static/css/images/diagram.PNG">
 <p class="paragraph">*** Data Tier included, represented above by dotted lines
  and blue containers, was not actually built for this application but included
  for demonstration purposes only.
  ***
 </p>
 <h2 class="heading2">What Oracle Built</h2>
 <p class="paragraph">Before getting into the nuts and bolts of what I built
  I’d like to discuss very quickly, at an extremely high level, some
  ways the Oracle Cloud Infrastructure (OCI) helps to provide a platform in
  which we can build applications that are not only highly available, but also
  scalable and secure.
 </p>
 <h3 class="heading3">Regions, Availability Domains, and Fault Domains</h3>
 <p class="paragraph2">Regions are exactly what they sound like. They are
  regions, or geographic locations placed all over the world which house the
  physical hardware that makes up OCI. Leveraging multiple regions has multiple
  benefits including high-availability, scalability, disaster recovery, and
  reduced latency. For this project, I leveraged the US West (Phoenix) Region.
 </p>
 <p class="paragraph2">Availability Domains are the individual data centers that
  make up Regions. Each Region has at least one Availability Domain. I chose
  the US West (Phoenix) Region for this project specifically because it has
  three Availability Domains. Building my project across multiple Availability
  Domains provides many of the same benefits that multiple Regions provide,
  just at a smaller scale.
 </p>
 <p class="paragraph2">Fault Domains represent the clusters of hardware that
  make up Availability Domains. Building applications across multiple Fault
  Domains ensures that simple issues like a bad cable or failed hard drive
  don’t take down your application.
 </p>
 <p class="paragraph2">Learn more about
  <a href="https://docs.oracle.com/en-us/iaas/Content/General/Concepts/regions.htm">
	  Regions, Availability Domains, and Fault Domains</a>
 </p>
 <h3 class="heading3">Virtual Cloud Network, Public Subnets, and Private Subnets</h3>
 <p class="paragraph2">A Virtual Cloud Network (VCN) is a virtual private
  network built in OCI.
 </p>
 <p class="paragraph2">Public Subnets are built inside a VCN and are publicly
  accessible from the internet.
 </p>
 <p class="paragraph2">Private Subnets are built inside a VCN and are not
  publicly accessible from the internet. The only way to reach a Private
  Subnet is from another subnet, either Public or Private within the same VCN.
 </p>
 <h3 class="heading3">Internet Gateways, NAT Gateways, and Service Gateways</h3>
 <p class="paragraph2">Internet Gateways are virtual routers that grant
  internet access to and from a VCN.
 </p>
 <p class="paragraph2">NAT Gateways provide one way access TO the internet for
  Private Subnets within a VCN.
 </p>
 <p class="paragraph2">Service Gateways provide Private Subnets access to
  Oracle services within a region to avoid exposing data to the internet.
  Examples include logging analytics and yum repositories.
 </p>
 <p class="paragraph2">Learn more about
  <a href="https://docs.oracle.com/en-us/iaas/Content/Network/Tasks/managingIGs.htm">
	  Internet Gateways</a>,
  <a href="https://docs.oracle.com/en-us/iaas/Content/Network/Tasks/NATgateway.htm">
	  NAT Gateways</a>, and
  <a href="https://docs.oracle.com/en-us/iaas/Content/Network/Tasks/servicegateway.htm">
	  Service Gateways</a>.
 </p>
 <h3 class="heading3">Network Security Groups and Security Lists</h3>
 <p class="paragraph2">Network Security Groups (NSGs) are similar to host-based
  firewalls in that they can be applied to a single host. However, they can
  also be applied to multiple hosts that require the same security posture.
 </p>
 <p class="paragraph2">Security Lists are less granular than Network Security
  Groups and, for that reason, were not leveraged for this project. However,
  still worth mentioning Security Groups are firewalls that operate only at the
  subnet level. Each subnet, either Public or Private, has their own Security
  List that can provide access either to or from the entire subnet.
 </p>
 <p class="paragraph2">Learn more about
  <a href="https://docs.oracle.com/en-us/iaas/Content/Network/Concepts/networksecuritygroups.htm">
	  Network Security Groups</a>,
  and <a href="https://docs.oracle.com/en-us/iaas/Content/Network/Concepts/securitylists.htm">
	  Security Lists</a>.
 </p>
 <h2 class="heading2">What Shawn Built</h2>
 <p class="paragraph">Now that you have a high level of some OCI
  terminology, lets dive into the fun part.
 </p>
 <h3 class="heading3">Two Public Subnets and One Private Subnet</h3>
 <p class="paragraph2">Management – Not shown in the diagram above is the
  network I built for managing and building everything else. Because the App
  nodes reside in a Private Subnet they are not at all accessible from the
  internet. To access them and begin working on them, I created a management
  network and placed a jump box in it.
 </p>
 <p class="paragraph2">Presentation Tier – The only publicly accessible network
  space in the entire project. This subnet houses a single instance of a load
  balancer (operating in an active-passive pair).
 </p>
 <p class="paragraph2">Application Tier – The private subnet housing the two
  App nodes running this website.
 </p>
 <h3 class="heading3">Management Server</h3>
 <p class="paragraph2">Running Ubuntu Linux this server serves as my gateway
  into the network for all management that cannot be done via the web
  interface.
 </p>
 <h3 class="heading3">Load Balancers</h3>
 <p class="paragraph2">The site is fronted by a load balancer which, aside
  from my management box, is the only device with a public facing IP address.
  According to the OCI documentation on Load Balancers, each instance is spun
  up in an active-passive pair with IPs in two different Availability Domains.
  So, in the active load balancer does down, the passive can take over and
  there is no loss of availability.
 </p>
 <p class="paragraph2">Load Balancing is performed in typical round-robin
  fashion and the Load Balancer performs health checks to the app nodes every
  10 seconds to ensure they are still up and responding as expected. In the
  event one node goes down traffic is simply passed to the other node until the
  first node is brought back up.
 </p>
 <p class="paragraph2">In addition to typical load balancing, I also added Web
  Application Acceleration which provides both caching to reduce latency and
  load on the app servers, and compressions to reduce bandwidth usage and
  increase server response times.
 </p>
 <h3 class="heading3">Application Nodes</h3>
 <p class="paragraph2">Two servers running Ubuntu Linux that make up the
  backbone of the project. Both are running this webpage, built using the
  Python Flask web framework and running in Docker containers.
 </p>
 <h3 class="heading3">Security</h3>
 <p class="paragraph2">There are several layers to the security considerations
  that went into this project. I took what is often referred to as a zero-trust
  approach to security. In other words, all traffic is denied by default.
  Access is granted strictly on the grounds of necessity.
 </p>
 <p class="paragraph2">The red boxes in the diagram above represent the network
  segmentation between each of the subnets. No traffic is allowed in or out of
  a subnet unless explicitly allowed.
 </p>
 <p class="paragraph2">Policies are created based on security postures. That is
  to say that policies are created based on the types of devices that require
  access. These are the Network Security Groups (NSGs) mentioned above. The
  load balancer has its own NSG. If a second load balancer were added, then the
  same NSG could be applied to grant the exact same access. Likewise, the
  management server has its own NSG, and so do the App nodes. This provides
  what I like to call one-click scalability from a security standpoint. It’s as
  simple as adding new nodes to the already existing NSGs.
 </p>
 <h3 class="heading3">Subnet Calculator</h3>
 <p class="paragraph2">By far my favorite part of this project. The subnet
  calculator is something I have thought about building for some time now. This
  project provided the perfect excuse to go ahead and do it.
 </p>
 <p class="paragraph2">Sure, there are about 500 subnet calculators already
  online, and there are multiple python packages that do the same and more….
  But I didn't build any of those from scratch and where’s the fun in that???
  If you haven’t already, head on over and check it out.
 </p>
 <h3 class="heading3">HTML, CSS, and Java</h3>
 <p class="paragraph2">Coming in a close second to the subnet calculator is the
  use of HTML, CSS and Java that went into building this site. This was my
  first venture into all three of these languages, and I learned a TON!!!
 </p>
 <p class="paragraph3">Well, I’m pretty sure that’s it… Thank you again Cisco
  for this opportunity, but aside from that, thank you for the experience.
  Never before have I interviewed for a position that challenged me in this
  way, and never before have I learned so much during an interview process.
  For that reason alone, regardless of the outcome, this was win!!!
 </p>
 {% endblock %}
</body>

</html>
